:root {
    /* Colors */
    --c-black-100: #000000;
    --c-black-95: #1e1e1e;
    --c-black-80: #323232;
    --c-gray-70: #b9b9b9;
    --c-red-70: #ff1e56;
    --c-yellow-70: #ffac41;
    --c-white-100: #ffffff;
  
    /* Fonts */
  
    /* Effects */
}